.container {
    overflow-x: auto;

}

.table {
    border-collapse: collapse;
    margin: auto;
}

.table__cell {
    border: 1px solid;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.table__caption {
    border: 3px solid;
    font-size: large;
    padding: 10px;
}

.table__cell--sum {
    text-align: left;
    padding: 20px;
}

.table__cell--header {
    background-color: rgba(216, 207, 207, 0.637);
}